*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
    
}




section
{
position: relative;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background: #101011
}

.blob{    
    position: fixed;
    filter: blur(25px);
    width: 500px;
    height: auto;
    opacity: 30%;
}

.blob2{
    position: fixed;
    filter: blur(20px);
    width: 200px;
    height: auto;
    opacity: 50%;
}



.T
{
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}

.Tlogo
{
    z-index: 1;
}


